<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="<%= pathFor(rootPath()) %>">
        <%= if (coLogo) { %>
            <img
                src="<%= pathFor(logoPath()) %>"
                width="30" height="30" 
                class="d-inline-block align-top"/>
        <% } %>
        <%= t("userservice") %>
    </a>
    <button
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="<%= t("toggle_navigation") %>">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="<%= pathFor(changePasswordPath()) %>">
                    <%= t("change_password") %>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="<%= pathFor(logoutPath()) %>">
                    <%= t("logout") %>
                </a>
            </li>
        </ul>
    </div>
</nav>
<%= partial("flash.html") %>
