<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title><%= coName %> - <%= t("userservice") %></title>
    <%= stylesheetTag("bootstrap-4.1.3/css/bootstrap.css") %>
    <%= stylesheetTag("application.css") %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <%= if (coLogo) { %>
        <link rel="icon" href="<%= pathFor(logoPath({path: "company"})) %>">
    <% } %>
  </head>
  <body>

    <div class="container">
      <%= yield %>
    </div>

    <%= javascriptTag("jquery-3.6.0.min.js") %>
    <%= javascriptTag("application.js") %>
    <%= javascriptTag("bootstrap-4.1.3/js/bootstrap.bundle.min.js") %>
  </body>
</html>
