<%= partial("navbar.html") %>
<h1><%= t("change_password") %></h1>
<div class="card">
    <div class="card-body">
    <%= form_for( pws, {action: changePasswordPath(), method: "POST"}) { %>
        <%= f.InputTag("OldPassword", {type: "password", label: t("old_password")}) %>
        <%= f.InputTag("NewPassword", {type: "password", label: t("new_password")}) %>
        <%= f.InputTag("NewPasswordRepeat", {type: "password", label: t("new_password_repeat")}) %>
        <button type="submit" class="btn btn-primary float-right">
            <%= t("save") %>
        </button>
    <% } %>
    </div>
</div>
