<%= partial("navbar.html") %>
<h1>
    Userinfo
</h1>
<small>
    <a href="<%= pathFor(rawPath()) %>">
        <%= t("raw_userdata") %>
    </a>
</small>
<dl class="row">
    <dt class="col-sm-3"><%= t("username") %></dt>
    <dd class="col-sm-9"><%= default(user.Username, "–") %><dd>
    <dt class="col-sm-3"><%= t("full_name") %></dt>
    <dd class="col-sm-9"><%= default(user.CommonName, "–") %><dd>
    <dt class="col-sm-3"><%= t("mail_address") %></dt>
    <dd class="col-sm-9">
        <%= for (mail) in user.Mail { %>
            <a href="mailto:<%= mail %>"><%= mail %></a><br>
        <% } %>
    <dd>
    <dt class="col-sm-3"><%= t("user_id") %></dt>
    <dd class="col-sm-9"><%= default(user.UserID, "–") %><dd>
    <dt class="col-sm-3"><%= t("group_id") %></dt>
    <dd class="col-sm-9"><%= default(user.GroupID, "–") %><dd>
    <dt class="col-sm-3"><%= t("home_directory") %></dt>
    <dd class="col-sm-9"><%= default(user.HomeDir, "–") %><dd>
    <dt class="col-sm-3"><%= t("shell") %></dt>
    <dd class="col-sm-9"><%= default(user.Shell, "–") %><dd>
</dl>
