<%= if (coLogo) { %>
    <img src="<%= pathFor(logoPath()) %>" class="col-md-2 mx-auto d-block mt-3"/>
<% } %>
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="mt-2">
            <%= partial("flash.html") %>
        </div>
        <div class="card mt-2">
            <div class="card-header">
                <strong><%= t("login") %></strong>
            </div>
            <div class="card-body">
                <%= form_for( creds, {action: request.URL.RequestURI(), method: "POST"}) { %>
                <%= f.InputTag("Username", {label: t("username")}) %>
                    <%= f.InputTag("Password", {type: "password", label: t("password")}) %>
                    <button type="submit" class="btn btn-primary float-right">
                        <%= t("login") %>
                    </button>
                <% } %>
            </div>
        </div>
    </div>
</div>
