<%= partial("navbar.html") %>
<h1><%= t("raw_userdata") %></h1>
<dl class="row">
    <dt class="col-sm-3">DN</dt>
    <dd class="col-sm-9" style="overflow-y: scroll;">
        <%= entry.DN %>
    <dd>
    <%= for (attr) in entry.Attributes { %>
    <dt class="col-sm-3"><%= attr.Name %></dt>
    <dd class="col-sm-9" style="overflow-y: scroll;">
        <%= for (val) in attr.Values { %>
            <%= val %><br>
        <% } %>
    <dd>
    <% } %>
</dl>
